* {
  margin: 0px;
  padding: 0px;
  gap: 0px;
}

@font-face {
    font-family: 'Star Rail';
    src: url("fonts/RPG_KR.ttf") format("truetype");
}

/* Mateus do futuro e companhia, esse código reseta a margem */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #16171D;
}

.home-container {
  position: relative;
  min-height: 100vh;
  display: flex;
}

.home-content {
  z-index: 1;
}

.home-main-content {
  flex: 1;
}

.home-banner {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 40%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}